[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygithub = "==1.52"
checksum = "==1.0.4"
semver = "==3.0.0.dev4"
jenkinsapi = "==0.3.13"

[requires]
python_version = "3.9"
